<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cours</h1>

    <ul>
        {% for subject in standards.subjects.all  %}
                <li>
                    <a href="{% url 'course:lesson_list' standard=standards. slug=subject.slug  %}">
                        {{ subject.name }}
                    </a>
                </li>
        {% endfor %}
    </ul>

        

</body>
</html>