<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>S'inscrire</h1>

    <form action="{% url 'accounts:sign' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username" placeholder="Votre nom d'utilisateur">    
        </div>

        <div>
            <label for="email">Email</label>
            {{ form.email }}
            {% comment %} <input type="email" name="email" id="email" placeholder="Adresse email"> {% endcomment %}
        </div>

        <div>
            <label for="password">Mot de passe</label>
            {{ form.password }}
            {% comment %} <input type="password" name="password" id="" placeholder="Mot de passe"> {% endcomment %}
        </div>
    </form>

    <div>
        <button type="submit">Valider</button>
    </div>
</body>
</html>