<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi necessitatibus aliquam expedita, magnam veniam voluptas voluptate numquam modi veritatis illo deleniti. Perferendis maxime, recusandae iure quibusdam aspernatur doloribus fugit voluptatem!
  <a href="{% url 'accounts:login' %}">
    Connection
  </a>
  <a href="{% url 'accounts:register' %}">
    S'inscrire
  </a>
</body>
</html>