<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
       PROFIL {{ user.firstname|safe }}
    </h1>
    
    {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Se déconnecter</a>
    {% endif %}


    <address>
        <p>
           Etudiant{% if user.sex == "FEMME" %}e{% endif %}
             {{ user.lastname }} - {{ user.firstname }}
        </p>
        <p>
            {{ user.birth_date }}
        </p>
        <p>
            
            {% if user.phone_number %}                
            {{ user.phone_number }}
            {% endif %}

        </p>
        {{ request.user.get_email }}
    </address>

    {% lorem 5 p random %}
</body>
</html>