<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page dediée aux enseignant(e)s</h1>
    <button>
        <a href="">Se déconnecter</a>
    </button>
    <address>
        <p>
            {{ user.lastname }}
        </p>
        <p>
            {{ user.firstname }}
        </p>
        <p>
            {{ user.birth_date }}
        </p>
        <p>
            {% if user.phone_number %}
            {{ user.phone_number }}
            {% endif %}
        </p>
        {{ user.get_email }}
    </address>
    {% lorem 5 p random %}
</body>
</html>